<div class="ui-grid-cell-contents" title="TOOLTIP">
  <div ng-if="row.entity.hasBOM === 'Yes'" style="float:left;" class="ui-grid-tree-base-row-header-buttons"
       ng-class="{'ui-grid-tree-base-header': row.treeLevel > -1 }"
       ng-click="grid.appScope.vm.toggleSourcingGridRow(row, grid.api, row.treeNode.children, row.treeNode.state, true, true)">
      <i  ng-class="{'ui-grid-icon-minus-squared': (( ( grid.options.showTreeExpandNoChildren && row.treeLevel > -1 ) ||
       ( row.treeNode.children && row.treeNode.children.length > 0 ) ) && row.entity.bomCollapsed),
       'ui-grid-icon-plus-squared': (( ( grid.options.showTreeExpandNoChildren && row.treeLevel > -1 ) ||
       ( row.treeNode.children && row.treeNode.children.length > 0 ) ) && !row.entity.bomCollapsed) || (row.entity.hasBOM === 'Yes')}"
         ng-style="{'padding-left': grid.options.treeIndent * row.treeLevel + 'px'}">
      </i>
    &nbsp;
  </div>
</div>
