<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">

    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between">
                <span class="title margin-top-10">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">

                <div layout="column" layout-align="center center">
                    <img ng-src="assets/images/ecommerce/Folder-dialogue.png" class="md-avatar avatar contact-avatar huge"
                         alt=""/>
                </div>

            </div>
            <!-- / TOOLBAR MIDDLE -->

            <!--  TOOLBAR BOTTOM -->
            <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center center">

                <div flex layout="row" layout-align="center center">

                </div>
            </div>
            <!-- / TOOLBAR BOTTOM -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <md-input-container class="md-icon-float md-block">
                <label>Category Name (Required)</label>
                <md-icon></md-icon>
                <input ng-model="vm.document.categoryName" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Parent Category</label>
                <md-icon></md-icon>
                <md-select ng-model="vm.selectparentcategory" name="role" ng-change="vm.parentCategoryFunction(vm.parent)">
                    <md-option ng-repeat="parent in vm.parent | orderBy:'categoryHierarchy'" value="{{parent.categoryId}}">
                      {{parent.categoryHierarchy}}
                    </md-option>
                </md-select>
                <md-input-container class="md-icon-float md-block">
                    <!-- Category -->
                    <md-chips ng-model="vm.document.categoryHierarchy" md-on-remove="" flex
                              md-autocomplete-snap
                              md-require-match="true" md-transform-chip="$chip">
                        <md-autocomplete
                                md-selected-item="vm.selectedChangeItem"
                                md-search-text="vm.searchChangeItemText"
                                md-selected-item-change="vm.searchCategoryFunction(itemId, vm.parent)"
                                md-items="itemId in vm.parentIDQuerySearch(vm.searchChangeItemText)"
                                md-item-text="itemId.categoryHierarchy" ng-disabled="vm.searchDisabled">
                            <span md-highlight-text="vm.searchChangeItemText">{{itemId}}</span>
                        </md-autocomplete>
                        <button md-chip-remove class="md-primary">
                            <md-icon md-font-icon="icon-close" class="s18"
                                     ng-click="vm.closeCategoryChips()"></md-icon>
                        </button>
                    </md-chips>
                    <!-- Category -->
                </md-input-container>
            </md-input-container>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newDocument" ng-click="vm.saveProduct()"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="SAVE">
                    SAVE
                </md-button>

                <md-button type="submit" ng-if="vm.newDocument" ng-click="vm.addNewDocument()"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="Add Task">
                    Create Document Category
                </md-button>

            </div>

            <div layout="row">
                <md-button class="md-icon-button" ng-click="vm.deleteDocumentConfirm($event)" aria-label="Delete" ng-if="!vm.newDocument">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip class="md-tooltip"><span>DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->
