#e-commerce-part {
    .dataTables_wrapper .dataTables_filter{
        width: 100% !important;
    }
    .center {
        .content{
            background: #F5F5F5;

        }
        .header {
            height: 78px !important;
            min-height: 78px !important;
            max-height: 78px !important;
            padding: 25px !important;


            .h1 {

                md-icon {
                    margin-right: 12px;
                }
            }

            .product-count {
                margin: 6px 0 0 36px;
            }

            .search {
                position: relative;
                padding-left: 24px;
                max-width: 480px;

                .search-icon {
                    margin: 0 -24px 0 0;
                }

                .search-input {
                    margin: 0 0 0 32px;
                    background: none;
                    font-size: 16px;
                    line-height: 40px;
                    height: 40px;
                    color: #FFFFFF;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                    transition: border-color 300ms ease;

                    &:focus {
                        border-color: rgba(255, 255, 255, 1);
                    }

                    &::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }

        .content-card {

            .toolbar {
                padding: 8px;
            }

            .content {
                padding: 0;

                .dataTables_wrapper {

                    .dataTables_scroll {
                        overflow: auto;

                        .dataTables_scrollHead {
                            min-height: 64px;

                            .dataTables_scrollHeadInner {
                                width: 100% !important;
                                table.dataTable {
                                    width: 100% !important;
                                }
                            }

                            table {

                                th {
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }

                        .dataTables_scrollBody {

                            overflow: visible !important;

                            .product-image {
                                width: 52px;
                                height: 52px;
                                border: 1px solid rgba(0, 0, 0, 0.12);
                            }

                            .quantity-indicator {
                                width: 8px;
                                height: 8px;
                                border-radius: 4px;
                                margin-right: 8px;
                            }

                            .edit-button {
                                margin: 0;
                            }
                        }
                    }
                }
                .ui-grid-filter-container {
                  position: absolute;
                  bottom: 0;
                }

                .cell-height-70 {
                  height: 70px !important;
                }

                .cell-height-50 {
                  height: 50px !important;
                }
            }
        }
    }
  .content-wrapper{
    padding: 5px;
  }
}
