<div id="passwordAdmin" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header">
            <span class="h2 white-fg">Password Change</span>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center">
                <span>Hi, {{vm.sessionData.userName}} You can update your password here</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <div layout="row" class="md-white-bg" layout-align="center center">

                    <!-- CUSTOMER FORM -->
                    <div class="form-wrapper margin-15" flex="40">

                        <form name="customerPasswordForm" class="md-inline-form" novalidate>

                            <div class="form-title">Password Change</div>
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <!--<label>Customer Name</label>-->
                                    <input type="password" name="currentPassword" ng-model="vm.customerPasswordForm.currentPassword"
                                           placeholder="Current Password"
                                           required maxlength="20">

                                    <div ng-messages="customerPasswordForm.currentPassword.$error && customerPasswordForm.currentPassword.$touched"
                                         role="alert">
                                        <div ng-message="required">
                                            <span>{{vm.error.require}}</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <!--<label>Customer Name</label>-->
                                    <input type="password" name="newPassword" ng-model="vm.customerPasswordForm.newPassword"
                                           placeholder="New Password" id="password"
                                           required maxlength="20">

                                    <div ng-messages="customerPasswordForm.currentPassword.$error"
                                         role="alert">
                                        <div ng-message="required">
                                            <span>{{vm.error.require}}</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>


                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <!--<label>Customer Name</label>-->
                                    <input type="password" name="retypeNewPassword" ng-model="vm.customerPasswordForm.retypeNewPassword"
                                           placeholder="Retype Password" id="confirm_password"
                                           required>

                                    <div ng-messages="customerPasswordForm.retypeNewPassword.$error"
                                         role="alert">
                                        <div ng-message="required">
                                            <span>{{vm.error.require}}</span>
                                        </div>
                                    </div>
                                    <div ng-show="customerPasswordForm.retypeNewPassword.$touched && vm
                                    .customerPasswordForm.newPassword != vm.customerPasswordForm
                                    .retypeNewPassword">
                                        <span style="color: rgb(213, 0, 0); font-size: 12px; line-height: 14px;">Password is Not matched</span>
                                    </div>
                                </md-input-container>
                            </div>

                            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                                       ng-disabled="customerPasswordForm.$invalid || (vm.customerPasswordForm.newPassword != vm.customerPasswordForm.retypeNewPassword)"
                                       ng-click="vm.customerPasswordFunction()">
                                Submit
                            </md-button>
                            <md-button type="cancel" class="md-raised md-accent" aria-label="Reset"
                                       ng-click="vm.customerPasswordForm = {}">
                                Reset
                            </md-button>
                        </form>

                    </div>
                    <!-- / CUSTOMER FORM -->

                    <!-- BASIC FORM DATA -->



                </div>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>