<div ng-if="row.entity.level === 1"
  class="ui-grid-cell-contents"
  title="TOOLTIP">
      <span ng-repeat="local in row.entity.location" ng-class="{'change': local.compareCode === 'CHANGE', 'new': local.compareCode === 'NEW', 'discard': local.compareCode === 'DISCARD'}">
      {{ local.value }}
        <span ng-if="($index+1) < row.entity.location.length" style="color:black;">, </span>
    </span>

</div>

<div ng-if="row.entity.level !== 1"
  class="ui-grid-cell-contents"
  title="TOOLTIP">
    <span ng-class="{'change': row.entity.modification === '1', 'new': row.entity.modification === '3', 'discard': row.entity.modification === '2'}">
        {{row.entity.bomPackage}}
    </span>
</div>
