<div
  class="ui-grid-cell-contents"
  title="TOOLTIP">
  <a ui-sref="app.objects.products.details({id:row.entity.objectId, bom:undefined})"
     target="{{grid.appScope.vm.linkTarget}}"
     ng-if="row.entity.objectType == 'products'" style="padding-left: {{(row.entity.parentIndex.split('.').length-1)*15+'px'}}">{{ row.entity.objectNumber }}</a>
  <a ui-sref="app.objects.part.parts({id:row.entity.objectId, bom:undefined})"
     target="{{grid.appScope.vm.linkTarget}}"
     ng-if="row.entity.objectType == 'parts'" style="padding-left: {{(row.entity.parentIndex.split('.').length-1)*15+'px'}}">{{ row.entity.objectNumber }}</a>
  <a ui-sref="app.objects.documents.details({id:row.entity.objectId, bom:undefined})"
     target="{{grid.appScope.vm.linkTarget}}"
     ng-if="row.entity.objectType == 'documents'" style="padding-left: {{(row.entity.parentIndex.split('.').length-1)*15+'px'}}">{{ row.entity.objectNumber }}</a>
  <a ui-sref="app.objects.sourcing.sourcingdetails({id:row.entity.objectId})"
     target="{{grid.appScope.vm.linkTarget}}"
     ng-if="row.entity.objectType == 'manufacturerPart' || row.entity.objectType == 'supplierPart'"
     style="padding-left: {{(row.entity.parentIndex.split('.').length-1)*15+'px'}}">{{ row.entity.objectNumber }}</a>
  <a ui-sref="app.objects.sourcing.sourcemfgsuppdetails({sourceType: row.entity.sourceType, id:row.entity.objectId})"
     target="{{grid.appScope.vm.linkTarget}}"
     ng-if="row.entity.objectType== 'manufacturer' || row.entity.objectType == 'supplier'"
     style="padding-left: {{(row.entity.parentIndex.split('.').length-1)*15+'px'}}">{{ row.entity.objectNumber }}</a>
</div>
