<div  class="full-space ui-grid-cell-contents">
  <md-icon ng-if="row.entity.objectType === 'parts'" md-font-icon="icon-cog" class="s16 md-default-theme md-font material-icons icon-cog" aria-hidden="true"></md-icon>
  <md-icon ng-if="row.entity.objectType === 'products'" md-font-icon="icon-cube-outline" class="s16 md-default-theme md-font material-icons icon-cube-outline" aria-hidden="true"></md-icon>
  <md-icon ng-if="row.entity.objectType === 'documents'" md-font-icon="icon-folder" class="s16 md-default-theme md-font material-icons icon-folder" aria-hidden="true"></md-icon>
</div>
