<div ng-if="row.entity.level === 1"
    class="ui-grid-cell-contents"
    title="TOOLTIP">
      <span ng-repeat="ref in row.entity.refDocs" ng-class="{'change': ref.compareCode === 'CHANGE', 'new': ref.compareCode === 'NEW', 'discard': ref.compareCode === 'DISCARD'}">
      {{ ref.value }}
        <span ng-if="($index+1) < row.entity.refDocs.length" style="color:black;">, </span>
    </span>
</div>
<div ng-if="row.entity.level !== 1"
     class="ui-grid-cell-contents"
     title="TOOLTIP">
      <span ng-repeat="ref in row.entity.referenceDesignator" ng-class="{'change': row.entity.modification === '1', 'new': row.entity.modification === '3', 'discard': row.entity.modification === '2'}">
      {{ ref }}
        <span ng-if="($index+1) < row.entity.referenceDesignator.length" style="color:black;">, </span>
    </span>
</div>
