<div layout="row" layout-align="center center" class="bom-table">
    <div class="form-wrapper margin-15 md-whiteframe-5dp" flex-lg="100" flex-sm="100">

        <!-- CONTENT -->
        <div class="form-wrapper margin-15 md-whiteframe-5dp" flex-lg="100" flex-sm="100">

            <div layout="row" layout-align="space-between center" flex>

                <md-button class="md-accent md-raised expand-collapse-all"
                           ng-click="vm.sourcingUtils.showAllSourcingRows(vm.sourcingUiGrid, !vm.sourcingUiGrid.grid.allBomCollapsed, true, true)">
                  Expand/Collapse All
                  <md-tooltip class="md-tooltip">Expand/Collapse All</md-tooltip>
                </md-button>
              <div class="clear-filter-text" ng-if="vm.flaghierSourcing">
                <md-button class="clear-filter-button" ng-click="vm.clearFilters(vm.sourcingUiGrid)">
                    <md-icon md-font-icon="icon-close" class=" s18 clear-filter-icon"></md-icon>
                  </md-button>
                <span>Clear current sorts, filters and pins</span>
              </div>
                <div class="buttons-edit-download-add">

                    <md-progress-circular class="recalculate-wheel" md-mode="indeterminate" ng-if="vm.recalculatingFlag" md-diameter="25"></md-progress-circular>

                    <label class="unit-cost-label">
                      Unit Cost :
                    </label>
                    <span class="currency-icon currency-icon-bom">{{vm.currencySetting}}</span>
                    <md-input-container class="unit-cost-container" flex="20">
                      <input class="cost-value unit-cost-input" value="{{vm.unitCostValue?(vm.unitCostValue | number : 2):''}}" ng-disabled="true" aria-label="Cost Value">
                    </md-input-container>

                    <md-menu>
                      <md-button class="add-part-to-bom-button" ng-click="$mdMenu.open()">
                        <img src="assets/images/ecommerce/add_circle_grey_36x36.png">
                        <md-tooltip class="md-tooltip">Add Part(s) To Bill Of Material</md-tooltip>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item>
                          <md-button class="md-primary"
                                     ng-click="vm.showTabDialog($event, '', vm.products.objectId, 'add')"
                                     ng-disabled="vm.SaveDisabled && !vm.releaseBomSettings">
                            Add Part to Bill Of Material
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-disabled="vm.clipboardService.getItemsCount() === 0" ng-click="vm.openClipboardTable()">
                            Add Parts from Clipboard to Bill Of Material
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                    <md-menu>
                      <md-button class="button-briefcase-download" ng-click="$mdOpenMenu()">
                        <md-icon md-font-icon="icon-cash s30"></md-icon>
                        <md-tooltip class="md-tooltip">Switch Cost Type: Change Cost Type to use the corresponding costs for BOM calculations.<br/>
                          Changing Cost Type here will not change the cost-type setting at the part-level.</md-tooltip>
                      </md-button>

                      <md-menu-content md-menu-origin>

                        <md-menu-item>
                          <md-menu>
                            <section layout="row">
                              <md-button flex="95" ng-click="$mdOpenMenu()">
                                <i ng-if="vm.allPartsFlag" class="icon-check s16 margin-right-5"></i>
                                <span>All Parts</span>
                                <md-icon md-font-icon="icon-chevron-right s30"></md-icon>
                              </md-button>
                            </section>
                            <md-menu-content>
                              <md-menu-item ng-repeat="cost in vm.breakCostArray">
                                <md-button ng-click="vm.calculateAll(cost.id);">
                                  {{cost.name}}
                                  <i ng-if="vm.allPartsFlag && vm.breakFlag == cost.id" class="icon-check s16 margin-left-10"></i>
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        </md-menu-item>

                        <md-menu-item>
                          <md-menu>
                            <md-button ng-click="$mdOpenMenu()">
                              <i ng-if="vm.flatPartsFlag" class="icon-check s16 margin-right-5"></i>
                              <span>Only Flat Parts (Not sub-assemblies)</span>
                              <md-icon md-font-icon="icon-chevron-right s30"></md-icon>
                            </md-button>
                            <md-menu-content>
                              <md-menu-item ng-repeat="cost in vm.breakCostArray">
                                <md-button ng-click="vm.calculateFlatRows(cost);">
                                  {{cost.name}}
                                  <i ng-if="vm.flatPartsFlag && vm.breakFlag == cost.id" class="icon-check s16 margin-left-10"></i>
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        </md-menu-item>

                        <md-menu-item>
                          <md-button class="reset-default-btn" ng-click="vm.resetToDefault()">
                            Reset to default
                          </md-button>
                        </md-menu-item>

                      </md-menu-content>

                    </md-menu>

                    <md-button class="button-table-edit" ng-click="vm.editTable($event, vm.objectPageEnum.sourcingPage)">
                        <md-icon class="icon-table-edit"></md-icon>
                        <md-tooltip class="md-tooltip">Show/Hide Columns</md-tooltip>
                    </md-button>
                    <md-menu>
                        <md-button class="button-briefcase-download" ng-click="$mdOpenMenu()">
                            <md-icon class="icon-arrow-down-bold-circle-outline"></md-icon>
                            <md-tooltip class="md-tooltip">Download Results</md-tooltip>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="vm.downloadTable('csv', '', vm.sourcingUiGrid)">
                                    CSV
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.downloadTable('pdf', 'download', vm.sourcingUiGrid.grid, vm.sourcingGridOptions, 'sourcing')">
                                    PDF
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button class="button-print" ng-click="vm.downloadTable('pdf', 'print', vm.sourcingUiGrid.grid, vm.sourcingGridOptions, 'sourcing')">
                        <md-icon class="icon-printer"></md-icon>
                        <md-tooltip class="md-tooltip">Print Table. NOTE: Disable any ad-blocker in the browser</md-tooltip>
                    </md-button>

                    <md-menu>
                      <md-button class="md-icon-button btn-hvr" ng-click="$mdOpenMenu()" ng-disabled="vm.SaveDisabled && !vm.releaseBomSettings">
                          <md-icon class="icon-dots-horizontal dots-icon"></md-icon>
                          <md-tooltip class="md-tooltip">More Actions</md-tooltip>
                      </md-button>
                      <md-menu-content>
                          <md-menu-item>
                              <md-button ng-click="vm.deleteBOMParts()">
                                  Delete All Parts from Bill Of Material
                              </md-button>
                          </md-menu-item>
                      </md-menu-content>
                  </md-menu>

                </div>
            </div>

            <div class="content fullpage-datatable">

                <div class="progress-bar" layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.sourcingViewProgressBar || vm.recalculatingFlag">
                  <md-progress-circular md-mode="indeterminate" class="md-accent md-raised"></md-progress-circular>
                </div>

                <div id="grid-sourcing"
                     ui-grid="vm.sourcingGridOptions"
                     ui-grid-move-columns
                     ui-grid-save-state
                     ui-grid-tree-view
                     ui-grid-pinning
                     ui-grid-resize-columns
                     ui-grid-exporter
                     ui-grid-pagination
                     ui-grid-auto-resize
                     ui-grid-edit
                     class="grid"
                     ng-class=" {'grid-height' : ((vm.sourcingGridOptions.totalItems * vm.sourcingGridOptions.rowHeight) + 440) >= vm.heightMax } "
                     ng-style="{ 'height': ((vm.sourcingGridOptions.totalItems * vm.sourcingGridOptions.rowHeight) + 440) < vm.heightMax ? (!vm.sourcingGridOptions.totalItems ? 300 : ((vm.sourcingGridOptions.totalItems * vm.sourcingGridOptions.rowHeight) + 55 + vm.heightTopPanelSourcing)) : false }">

                  <div class="watermark" ng-show="!vm.sourcingGridOptions.data.length">No data available</div>
                  <no-results-found grid-api="vm.sourcingUiGrid" grid-options="vm.sourcingGridOptions"></no-results-found>

                </div>

            </div>
        </div>

        <!-- / CONTENT -->
    </div>
</div>
