<div id="createPassword" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo">
                <!--<span>F</span>-->
                <img src="assets/images/logos/fuseplm.png"/>
            </div>
            <div class="title">Create Password</div>

            <form name="createPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="userEmail" ng-model="vm.createPasswordForm.userEmail" readonly>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="userPassword" ng-model="vm.createPasswordForm.userPassword"
                           placeholder="Password" required>

                    <div ng-messages="createPasswordForm.userPassword.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="retypeNewPassword" ng-model="vm.createPasswordForm.retypeNewPassword"
                           placeholder="Retype Password" id="confirm_password"
                           required>

                    <div ng-messages="createPasswordForm.retypeNewPassword.$error"
                         role="alert">
                        <div ng-message="required">
                            <span>{{vm.error.require}}</span>
                        </div>
                    </div>
                    <div ng-show="createPasswordForm.retypeNewPassword.$touched && vm.createPasswordForm.userPassword != vm.createPasswordForm.retypeNewPassword">
                        <span style="color: rgb(213, 0, 0); font-size: 12px; line-height: 14px;">Password is not matched</span>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button"
                           ng-disabled="createPasswordForm.$invalid || (vm.createPasswordForm.userPassword != vm.createPasswordForm.retypeNewPassword)"
                           ng-click="vm.createPasswordFormFunction()">
                    Create Password
                </md-button>
                <!--<div class="register" layout="row" layout-sm="column" layout-align="center center">
                    <span class="text">Want to change Server?</span>
                    <a class="link" ui-sref="app.landing">Go Back</a>
                </div>-->
            </form>

        </div>
    </div>
</div>
