<div id="forgotPassword" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img src="assets/images/logos/fuseplm.png"/>
                <!--<span>F</span>-->
            </div>
            <div class="title">Forgot Password</div>

            <form name="forgotPasswordForm" novalidate>


                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="forgotemail" ng-model="vm.forgotPasswordForm.forgotemail"
                           placeholder="User Email" required maxlength="64">

                    <div ng-messages="forgotPasswordForm.forgotemail.$error" role="alert">
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <div layout="column" layout-gt-sm="row">
                    <md-button type="submit" class="md-raised md-accent submit-button"
                               ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine"
                               ng-click="vm.forgotPasswordFormFunction()">
                        Submit
                    </md-button>
                    <md-progress-circular id="create-progress" md-mode="indeterminate" ng-if="vm.progress">
                    </md-progress-circular>
                </div>
                <div class="register" layout="row" layout-sm="column" layout-align="center center">
                    <!--<span class="text">Want to change Server?</span>-->
                    <a class="link" ui-sref="app.login({channelName:vm.channelName})">Go Back</a>
                </div>
            </form>

        </div>
    </div>
</div>
