<div id="addon" layout="row" layout-align="center center">
  <div class="form-wrapper margin-15 md-whiteframe-5dp" flex-lg="100" flex-sm="100">
    <div class="content">
      <ms-widget flippable="true" layout="column">
        <div class="new-list-wrapper ng-scope w-box" flex="30" ng-click="vm.openFormBuilderDialog($event)">
          <div class="addon-box list new-list md-whiteframe-1dp">
            <div layout="row" layout-align="center start">

              <img src="assets/images/avatars/document-icon.png" width="60">
            </div>
            <h3 class="h1 text-center f-gray">External <br> Form Builders</span>
              <div layout="row" layout-align="center start">
                <md-switch class="s20" ng-model="vm.addonService" aria-label="addon switch"></md-switch>
              </div>
         </div>
       </div>
      </ms-widget>
    </div>
  </div>
