#addon{
.w-box{
      width: 330px !important;
  }

.addon-box{
    padding: 45px;
    border: 1px solid #E6E6E6;
  }


.content{
    .new-list-wrapper {
      .form-builder-icon{
            color: #70befc;
      }
  .f-gray{
            color: #797979 !important;
      }
    }

  }
}
