<div ng-if="(vm.searchTab === 'Cards' || vm.searchTypes.card === true) && vm.count.cardCount === 0" class="result-info" layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="start start" ng-hide="vm.cards.length > 0">
  No Data Available
</div>

<div ng-if="(vm.searchTab === 'Cards' || vm.searchTypes.card === true) && vm.count.cardCount > 0" class="result-info" layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="start start" ng-show="vm.cards.length > 0">

  <span class="result-count h3 secondary-text">
        <span>{{vm.count.cardCount}}</span>
  <span translate="SEARCH.RESULTS">Results</span>
  </span>

  <div class="pager">
    <span class="secondary-text">
            <span translate="SEARCH.RESULTS">Results</span>
    <span>:</span>
    </span>

    <span class="page-info">
            <span>{{startIndex + 1}}</span>
    <span>-</span>
    <span>{{endIndex}} </span>
    <span translate="SEARCH.OF">of</span>
    <span>{{(vm.cards | filter: { objectType: 'card' }).length}}</span>
    <!-- <span>{{vm.count.cardCount}}</span> -->
    </span>

    <md-button class="md-icon-button" aria-label="previous page" translate translate-attr-aria-label="SEARCH.PREVIOUS_PAGE" ng-disabled="currentPage == 0" ng-click="vm.countprevous()">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="next page" translate translate-attr-aria-label="SEARCH.NEXT_PAGE" ng-disabled="currentPage >= ((vm.cards | filter: { objectType: 'card' }).length/pageSize) - 1" ng-click="vm.countFunction()">
      <!-- <md-button class="md-icon-button" aria-label="next page" translate translate-attr-aria-label="SEARCH.NEXT_PAGE" ng-disabled="currentPage >= ((vm.products.length/pageSize)-1)" ng-click="vm.countFunction()"> -->
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
    </md-button>
  </div>
</div>

<div ng-if="(vm.searchTab === 'Cards' || vm.searchTypes.card === true) && vm.count.cardCount > 0" class="results" ng-show="vm.cards.length > 0">
  <div class="result-item" ng-repeat="item in vm.cards | filter: { objectType: 'card' } | startFrom:currentPage*pageSize | limitTo:pageSize">
    <a ng-click="vm.openCardDialog($event, item.cardId, changePath, vm.tasks, vm.tags, '', vm.defualtValue)">
      <div class="title">{{item.cardTitle}}</div>
    </a>
    <div class="url">{{item.boardName}} > {{item.listName}}</div>
    <div>{{item.description}}</div>
    <div class="excerpt" layout="row"><span ng-if="item.cardPriority"> {{item.cardPriority}}; </span> <span ng-if="item.memberList.length !=0">Assigned to</span><span ng-repeat="member in item.memberList" ng-if="item.memberList.length !=0"> {{member}}<span ng-if="!$last">,</span></span>
      <span ng-if="item.memberList.length !=0">;</span> <span ng-if="item.dueDate">Due by {{item.dueDate | date:'mediumDate'}}</span></div>
  </div>
</div>
