<md-dialog id="bulk-popup">
  <form ng-cloak>

    <md-toolbar class="md-accent" ng-class="vm.params.isCard ? 'md-'+vm.params.color+'-bg' : ''">
      <div class="title margin-top-17 margin-left-15 progress-container">
        <span ng-show="vm.params.operationType === 'addNewRowToBomMatrix'">Add Part to Configuration</span>
        <md-progress-circular class="bulk-progress" md-diameter="35" ng-if="!vm.progressCompleted && vm.params.operationType === 'addNewRowToBomMatrix'"></md-progress-circular>
      </div>
      <span ng-show="!vm.isRemoveQuantitiesFlatView && vm.params.operationType !== 'addToCard' && vm.params.operationType !== 'addToBom' && vm.params.operationType !== 'addNewRowToBomMatrix'" class="title margin-top-17 margin-left-15">Bulk Delete</span>
      <span ng-show="vm.isRemoveQuantitiesFlatView && vm.params.operationType !== 'addToCard' &&  vm.params.operationType !== 'addToBom' && vm.params.operationType !== 'addNewRowToBomMatrix'" class="title margin-top-17 margin-left-15">Remove quantities from Inventory</span>
      <span ng-show="vm.params.operationType === 'addToBom' || vm.params.operationType === 'addToCard'" class="title margin-top-17 margin-left-15">Clipboard</span>
    </md-toolbar>

    <md-dialog-content class="padding-10">
      <div class="md-dialog-content">

        <div layout="row" ng-if="vm.allRows" class="progress-delete mb-10">
          <div ng-style="{'width' : vm.successCount*100/vm.allRows + '%', 'transition': '1s'}" class="success"
               ng-class="{'progress-radius-left' : vm.successCount, 'progress-radius-right' : !vm.errorCount && !vm.progress }">
            <span ng-if="vm.successCount">Success ({{vm.successCount}})</span>
          </div>
          <div ng-style="{'width' : vm.errorCount*100/vm.allRows + '%', 'transition': '1s'}" class="error"
               ng-class="{'progress-radius-left' : !vm.successCount, 'progress-radius-right' : vm.errorCount && !vm.progress }">
            <span ng-if="vm.errorCount">Error ({{vm.errorCount}})</span>
          </div>
        </div>
        <div ng-if="vm.allRows" class="counter mb-20">
            {{vm.errorCount + vm.successCount}} of {{vm.allRows}}
        </div>

        <div id="grid-bulk"
             ui-grid="vm.bulkDeleteTableOptions"
             ui-grid-pagination
             ui-grid-resize-columns
             ui-grid-auto-resize
             class="grid">

          <div class="watermark" ng-show="!vm.bulkDeleteTableOptions.data.length">No data available</div>

        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between" class="object-size">

      <md-button ng-show="!vm.isRemoveQuantitiesFlatView && vm.params.operationType !== 'addToBom' && vm.params.operationType !== 'addToCard' && vm.params.operationType !== 'addNewRowToBomMatrix'" class="md-accent md-raised" ng-disabled="!vm.progress" ng-click="vm.abortProcess('bulk delete')">
        Abort Delete Process
      </md-button>
      <md-button ng-show="vm.params.operationType === 'addToCard'" ng-class="vm.progress && vm.params.isCard ? 'md-'+vm.params.color+'-bg' : ''" class="md-accent md-raised" ng-disabled="!vm.progress" ng-click="vm.abortProcess('adding as affected object')">
        Abort Adding
      </md-button>
      <md-button ng-show="vm.isRemoveQuantitiesFlatView && vm.params.operationType !== 'addToBom' && vm.params.operationType !== 'addNewRowToBomMatrix'" class="md-accent md-raised" ng-disabled="!vm.progress" ng-click="vm.abortProcess('removing')">
        Abort Remove
      </md-button>
      <md-button ng-show="vm.params.operationType === 'addToBom'"  class="md-accent md-raised" ng-disabled="!vm.progress" ng-click="vm.abortProcess('adding to BOM')">
        Abort Adding
      </md-button>
      <md-button ng-show="vm.params.operationType === 'addNewRowToBomMatrix'" class="md-accent md-raised" ng-disabled="!vm.progress" ng-click="vm.abortProcess('adding to Matrix')">
        Abort Adding
      </md-button>

      <div class="padding-top-5">
        <md-progress-circular id="create-progress" class="margin-left-25" md-mode="indeterminate" ng-if="vm.progress && vm.params.operationType !== 'addNewRowToBomMatrix'">
        </md-progress-circular>
      </div>

      <md-button class="md-accent md-raised" ng-class="vm.params.isCard ? 'md-'+vm.params.color+'-bg' : ''" ng-disabled="vm.progress" ng-click="vm.closeDialog(); vm.broadcastRefreshing()">
        Done
      </md-button>

    </md-dialog-actions>

  </form>
</md-dialog>
