#profile-customer {
  .top-bg {
    height: 120px !important;
  }

  .header {
    height: 76px !important;
    min-height: 76px !important;
    max-height: 76px !important;
    padding: 24px !important;

    .logo {

      .logo-icon {
        margin: 0 16px 0 0;
      }

      .logo-text {
        font-size: 24px;
      }
    }
    md-icon {
      color: #FFFFFF;
    }
  }

  .form-data-wrapper {
    margin-left: 16px;

    .board-list-item {
      min-width: 210px;
      width: 210px;
      padding: 24px 0;
      margin: 16px;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.12);
      cursor: pointer;

      &:hover {
        box-shadow: $whiteframe-shadow-4dp;
      }

      .board-name {
        padding-top: 16px;
        font-weight: 500;
      }
    }

    .json-data-wrapper {
      overflow: hidden;

      pre {
        font-size: 16px;
      }
    }
  }
}
